---
apiVersion: v1
kind: ConfigMap
metadata:
  name: bomberman-maps
  namespace: default
data:
  default.txt: |
    #################
    #S.X.X.X.X.X.X.S#
    #.#.#.#.#.#.#.#.#
    #X.X.X.X.X.X.X.X#
    #.#.#.#O#.#.#.#.#
    #X.X.X.X.X.X.X.X#
    #.#.#.#.#.#.#.#.#
    #X.X.X.X.X.X.X.X#
    #.#.#.#O#.#.#.#.#
    #X.X.X.X.X.X.X.X#
    #.#.#.#.#.#.#.#.#
    #X.X.X.X.X.X.X.X#
    #.#.#.#.#.#.#.#.#
    #S.X.X.X.X.X.X.S#
    #################
  arena.txt: |
    #####################
    #S.................S#
    #.#####.#####.#####.#
    #.................#.#
    #.###.#########.###.#
    #...#.....O.....#...#
    #.###.#########.###.#
    #.................#.#
    #.#####.#####.#####.#
    #S.................S#
    #####################
  classic.txt: |
    ###################
    #S...X.X.X.X.X...S#
    #.#.#.#.#.#.#.#.#.#
    #X.X.X.X.X.X.X.X.X#
    #.#.#.#.#.#.#.#.#.#
    #X.X.X.X.X.X.X.X.X#
    #.#.#.#.#.#.#.#.#.#
    #X.X.X.X.X.X.X.X.X#
    #.#.#.#.#.#.#.#.#.#
    #X.X.X.X.X.X.X.X.X#
    #.#.#.#.#.#.#.#.#.#
    #X.X.X.X.X.X.X.X.X#
    #.#.#.#.#.#.#.#.#.#
    #X.X.X.X.X.X.X.X.X#
    #.#.#.#.#.#.#.#.#.#
    #X.X.X.X.X.X.X.X.X#
    #.#.#.#.#.#.#.#.#.#
    #S...X.X.X.X.X...S#
    ###################
  maze.txt: |
    #########################
    #S.X#.......#.......#X.S#
    #.#.#.#####.#.#####.#.#.#
    #.X.#...#.........#...X.#
    ###.###.#.#######.#.###.#
    #.....#.#.#.....#.#.#...#
    #.###.#.#.#.###.#.#.#.###
    #...#.....#..O..#.....#.#
    #.#.###########.#####.#.#
    #.#.....#.....#.....#...#
    #.#####.#.###.#####.#####
    #.......#.....#.........#
    #S.X#.......#.......#X.S#
    #########################
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: bomberman-server
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bomberman-server
  template:
    metadata:
      labels:
        app: bomberman-server
    spec:
      containers:
        - name: bomberman-server
          image: docker.io/keanuwatts/theclusterflux:BombermanServer
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
              protocol: TCP
          env:
            - name: PORT
              value: "8080"
            - name: MAPS_DIR
              value: "/app/maps"
          volumeMounts:
            - name: maps
              mountPath: /app/maps
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
      volumes:
        - name: maps
          configMap:
            name: bomberman-maps
      imagePullSecrets:
        - name: dockerhub-secret
---
apiVersion: v1
kind: Service
metadata:
  name: bomberman-server
  namespace: default
spec:
  selector:
    app: bomberman-server
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  type: ClusterIP
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 3600
---
# Ingress for static client files
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: bomberman-client
  namespace: default
  annotations:
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
spec:
  ingressClassName: nginx
  tls:
  - hosts:
    - bomberman.theclusterflux.com
    secretName: theclusterflux
  rules:
  - host: bomberman.theclusterflux.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: bomberman-client
            port:
              number: 8080
---
# Separate ingress for WebSocket - needs different annotations
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: bomberman-ws
  namespace: default
  annotations:
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    # WebSocket specific configuration
    nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-http-version: "1.1"
    # WebSocket upgrade headers
    nginx.ingress.kubernetes.io/upstream-hash-by: "$remote_addr"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";
spec:
  ingressClassName: nginx
  tls:
  - hosts:
    - bomberman.theclusterflux.com
    secretName: theclusterflux
  rules:
  - host: bomberman.theclusterflux.com
    http:
      paths:
      - path: /ws
        pathType: Prefix
        backend:
          service:
            name: bomberman-server
            port:
              number: 8080


